{% extends 'base.html' %}
{% load static %}

{% block title %}Kanban Board - Web Components{% endblock %}

{% block extra_head %}
<script type="module" src="{% static 'kanban/js/kanban-elements.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'kanban/css/components.css' %}">
{% endblock extra_css %}

{% block content %}
{% include 'kanban/components/_board_title.html' %}

<kanban-board id="board" board-id="{{ board.pk }}" create-column-url="{% url 'column_create' %}" colors="{{ color_choices_json }}" labels="{{ labels_json }}">
    {% for column in board.columns.all %}
        {% include 'kanban/components/_column.html' with with_cards=True %}
    {% endfor %}
</kanban-board>

<div id="toast-area" class="toast-area"></div>
{% endblock %}
