<div id="board-title-container" class="board-header" x-data="{ editing: false }">
    {# View mode #}
    <div x-show="!editing" class="board-header__view">
        <h1 class="board-header__title">{{ board.title }}</h1>
        <button 
            type="button"
            @click="editing = true; $nextTick(() => $refs.boardTitleInput.focus())"
            class="board-header__edit-btn"
            title="Editar título do quadro"
        >
            
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
        </button>
    </div>
    
    {# Edit mode #}
    <form 
        x-show="editing"
        x-cloak
        hx-post="{% url 'templates_board_edit' board.pk %}"
        hx-target="#board-title-container"
        hx-swap="outerHTML"
        @htmx:after-request="editing = false"
        class="board-header__form"
    >
        {% csrf_token %}
        <input
            x-ref="boardTitleInput"
            type="text"
            name="title"
            value="{{ board.title }}"
            required
            class="board-header__input"
            maxlength="100"
            @keydown.escape="editing = false"
        />
        <button type="submit" class="board-header__btn-save">Salvar</button>
        <button type="button" @click="editing = false" class="board-header__btn-cancel">Cancelar</button>
    </form>
</div>
