<div
    class="card"
    draggable="true"
    id="card-{{ card.pk }}"
    data-card-id="{{ card.pk }}"
    data-order="{{ card.order }}"
    tabindex="0"
    hx-get="{% url 'card_dialog' card.pk %}"
    hx-trigger="click[!window.dragging], keydown[key=='Enter']"
    hx-target="#card-dialog"
    hx-swap="innerHTML"
    {% if oob %}hx-swap-oob="true"{% endif %}
>
    <div class="card__title-view">{{ card.title }}</div>
    {% if card.description %}
    <div class="card__badges">
        <span class="badge" role="img" aria-label="Este card tem descrição">≡</span>
    </div>
    {% endif %}
</div>
