{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Kanban{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'kanban/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'kanban/css/theme.css' %}">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'kanban/js/htmx.min.js' %}" defer></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>